
form {
    width: 60%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.form-control {
    width: 98%;
    padding: 12px 20px;
    background-color: #2A2C39;
    border: 1px solid rgba(255,255,255,.1);
    color: #fff;
    outline: 0;
    box-shadow: none;
    transition: .4s ease-in-out;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.text-area {
    width: 99%;
}

.form-control:hover, .form-control:focus {
    border: 1px solid #fff;
}

@media (max-width: 960px) {
    form {
        width: 100%;
        padding: 10px;
    }
    .text-area {
        width: 98%;
    }
}