.banner {
    padding-top: 10px;
    margin-bottom: 80px;
}
.banner-title {
    font-size: 50px;
    color: #fff;
}

.banner-name{
    font-size: 90px;
    color: #fff;
}

.banner-text {
    font-size: 18px;
    margin: 30px 0;
    color: #f4f4f4;
}

.resume-button {
    height: 60px;
    line-height: 50px;
    padding: 0 30px 0 30px;
    border-radius: 43.5px;
    background-color: #252734;
    border: 1px solid  rgb(59, 61, 73);
    border-image: initial;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 30px;
}

.resume-button:hover {
    background-color: #2E303D;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.banner-grid-left {
    padding-left: 80px;
}

.banner-grid-right img{
    height: 450px;
    object-fit: contain;
}

@media (max-width: 960px) {
    .banner-grid-left {
        padding-left: 0px;
    }
    .banner {
        margin-bottom: 200px;
        text-align: center;
    }
    .banner-title {
        font-size: 45px;
    }
    .banner-name {
        font-size: 70px;
    }
}